@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color: #66CDAA;
  --secondary-color:#333;
  --background-color: #000;
  --text-color: #fffffff6;
  --accent-color: #7dd093;
  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-family);
  cursor: pointer;
}

input, select, textarea {
  font-family: var(--font-family);
}